__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses

# Build Artifacts
dist/
build/
*.egg-info/
aion_core_cpp/build/
aion_core_cpp/bin/
bench_data/
bench_bigdata/

# OxtaCore Artifacts
*.ox3
*.lin
*.oxh
*.idx
*.pt
tribute.jsonl
fire_data.jsonl
